.root {
    -fx-font-size: 16pt;
    -fx-font-family: "Helvetica";
    /*-fx-base: #87c7d1;*/
    /*-fx-background: #f2f2f2;*/
    -fx-text-fill: #fff;
    -fx-background-image: url("../images/background.jpg");
  }
  
  .label {
    -fx-text-fill: #070707;
  }
  
  .button {
    -fx-background-color: rgb(17, 115, 234);
    -fx-text-fill: #fff;
  }
  